label {
  color: white;
}
.m {
  margin: 0px 6px 0px 6px;
}

.App {
  margin: 10px;
  display: flex;
}

.main-part {
  flex-basis: 66%;
}
.list-epiceri {
  flex-basis: 34%;
  border: 1px solid red;
}
